img{
    width: 800px;
}

h2{
    font-family: 'a_Albionic Bold', sans-serif;
    text-align: center;
    font-size: 1.9rem;
}

p{
    text-align: center;
    font-size: 1.3rem;
}
body{
    background-color: rgba(255, 238, 223, 0.31);
    font-size: 1.3rem;
}

a{
    font-family: 'a_Albionic Bold', sans-serif;
    color: #ff8800;
    text-align: center;
    text-decoration: none;
}
img {
    text-align: center;
}

audio{
    text-align: center;
}


@font-face {
	font-family: 'a_Albionic Bold';
	src: url('../fonts/a_albionic_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/a_albionic_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/a_albionic_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/a_albionic_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/a_albionic_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/a_albionic_bold.svg#a_albionic_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
